{% extends 'base.html.twig' %}

{% block body %}
	<h2>Spectacles</h2>

	<div class="row">
		{% for show in shows %}
			<div class="col-sm-4 p-2">
				<div class="card">
					{% if show.affiche is not null %}
					<img src="/uploads/affiches/{{ show.affiche }}" alt="{{ show.name }}" class="card-img-top">
					{% endif %}
					<div class="card-header">
						<span class="badge text-bg-info float-end">
							<big>{{ show.dateStart ? show.dateStart|date('d') : '' }}</big>
							<br/>
							{{ show.dateStart ? show.dateStart|date('M') : '' }}<br/>
							{{ show.dateStart ? show.dateStart|date('Y') : '' }}
						</span>

						<h4 class="card-title">{{ show.name }}</h4>

						{% set categories =  [] %}
						{% for categorie in  show.categories %}
							{% set categories = categories|merge([categorie.name]) %}
						{% endfor %}
						<i>{{ categories|join('<span class="text-secondary mx-1">//</span>')|raw }}</i>
					</div>
					<div class="card-body">
						<p>
							{{ show.description }}
						</p>
					</div>
					<div class="card-footer">
						<td>
                            <a class="btn btn-primary float-start" href="{{ path('app_show_map') }}">plan</a>
							{% if is_granted('ROLE_ADMIN') %}
							<a class="btn btn-primary float-end" href="{{ path('app_show_edit', {'id': show.id}) }}">éditer</a>
							{% endif %}
							{% if is_granted('ROLE_USER') %}
								<a class="btn btn-primary float-end" href="{{ path('app_reservation', {'id': show.id}) }}">réserver</a>
							{% endif %}
						</td>
					</div>
				</div>
			</div>
		{% else %}
			<div class="alert alert-warning">Aucun spectacle!</div>
		{% endfor %}
	</div>

	<hr/>

	{% if is_granted('ROLE_ADMIN') %}
	<a class="btn btn-success" href="{{ path('app_show_new') }}">Ajouter</a>
	{% endif %}

{% endblock %}
