{% extends 'base.html.twig' %}

{% block body %}

	<h2>Bienvenue!</h2>

	<div class="card mb-4">
		<div class="card-header">
			La salle de <b>{{ configuration.nom }}</b> est dotée de
			<b>100</b> places et vous permettra de réserver vos spectacles en ligne!
			<hr/>
			<a href="{{ path('app_show_index') }}" class="btn btn-primary float-end">
				Découvrir les spectacles &raquo;
			</a>
		</div>
	</div>

	<h2>Nos coordonnées</h2>

	<div class="card">
		<div class="card-header">
			Retrouvez notre salle de spectacle:

			<hr/>
			{{ configuration.carte|raw }}
			<hr/>

			<code>
				{{ configuration.nom }},<br/>
				{{ configuration.adresse }}<br/>
				{{ configuration.codePostal }} {{ configuration.ville }}<br/>
			</code>
		</div>
	</div>

{% endblock %}
